<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./lib/vendor/autoload.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="false">
	<php>
		<ini name="memory_limit" value="-1"/>
		<ini name="apc.enable_cli" value="1"/>
	</php>
    <testsuite name="MyApp Test Suite">
            <directory>./tests/test.php</directory>
    </testsuite>
</phpunit>
